/*
 * Using LESS mixins with arguments
 */#mypara {
  -mox-border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  border: 5px solid #0000ff;
  -webkit-box-shadow: 10px 10px 10px #808080;
  -mox-box-shadow: 10px 10px 10px #808080;
  -ms-box-shadow: 10px 10px 10px #808080;
  box-shadow: 10px 10px 10px #808080;
  padding: 10px;
}

/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
