/*
 * Using LESS pattern matching and guarded mixins
 * 
 */h1 {
  color: #cccccc;
  font-size: 32pt;
  border: 2px dashed gray;
  text-shadow: 1px 1px 0px #d9d9d9, 2px 2px 0px #e6e6e6, 3px 3px 0px #f2f2f2, 4px 4px 0px #ffffff, 4px 4px 3px #cccccc;
  font-size: 32pt;
  padding: 5pt;
}

/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
